<div [ngClass]="{'dark-mode': themeService.isDarkModeEnabled(), 'light-mode': !themeService.isDarkModeEnabled()}">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="input-container">
            <input type="text" formControlName="username" placeholder="Username">
        </div>
        <div class="input-container">
            <input type="password" formControlName="password" placeholder="Password">
        </div>
        <button type="submit">Login</button>
    </form>
</div>