.switch-container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.switch-label .switch-slider {
        background-color: #2196F3;
    }

    &:checked+.switch-label .switch-slider:before {
        transform: translateX(26px);
    }
}

.switch-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 10px;

    .switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 25px;

        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2.5px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

}

.switch-text {
    font-size: 16px;
}